<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GeNet | Reset</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <!--bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/fonts/family=Material+Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize-stepper.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">

    <style>
        .center {
            margin: auto;
            width: 50%;
            padding: 10px;
        }

        .border {
            border: 2px solid #26a69a;
            border-radius: 30px;
            padding: 5px;
        }

        .flash {
            padding: 1em;
            background: #cae6f6;
            border: 1px solid #26a69a;
        }

        .errspan {
            float: right;
            margin-right: 6px;
            margin-top: -44px;
            position: relative;
            z-index: 2;
            color: green;
            visibility: hidden;
        }
    </style>
</head>

<body style="background-color: #f3f6f9;">

<div id="mainDataInterface-id" class="container mainDataInterface" style="margin-top: 5%;">

{#    <div class="logo center" style="margin-top: -3%;">#}
{#        <img src="{{ url_for('static', filename='images/login-logo.png') }}" alt="logo"#}
{#             style="width:125px; filter: brightness(1.02);">#}
{#    </div>#}

    <div class="step-content">
        <div class="row head-word" style="margin-bottom: 10px;">
            <h3 id="h3-head-1" class="card__title" style="text-align: center; color:#26a69a;">Reset Password</h3>
        </div>
    </div>

    <div class="center">
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="border">
                <form method="post" class="center" action="/auth/reset/">
                    <label for="username" style="float: left">E-mail</label>
                    <input value="{{ email }}" disabled>
                    <input type="hidden" name="username" id="username" value="{{ email }}">
                    <label for="password" style="float: left">Password</label>
                    <input type="password" name="password" id="password" required onkeyup="checkPass()">
                    <label for="password2" style="float: left">Re-enter password</label>
                    <input type="password" name="password2" id="password2" required onkeyup="checkPass()">
                    <span class="far fa-check-circle fa-2x errspan" id="errspan"></span>

                    <input type="submit" value="Reset" class="waves-effect waves-dark btn">
                </form>
                <div class="row center">
                    <label><a href="{{ url_for('auth.login') }}">Sign in instead</a></label>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>

    </div>

</div>

</body>
</html>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

<!-- jQueryValidation Plugin -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.validate.min.js') }}"></script>

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize/materialize.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/fontawesome-all.js') }}"></script>

<script>

    function checkPass() {
        pass1 = document.getElementById('password');
        pass2 = document.getElementById('password2');

        if (pass1.value === pass2.value && (pass1.value + pass2.value) !== "") {
            document.getElementById("errspan").style.visibility = "visible";
            $('.btn').removeAttr('disabled');
        } else {
            document.getElementById("errspan").style.visibility = "hidden";
            $('.btn').attr('disabled', 'disabled');
        }
    }
</script>